#header_container{
	width: 100%;
	/* background:black; */
	height: 13%;
	display: table;
	/* padding-left: 50px; */
	text-align: left;
}

#header_text{
	display: table-cell;
	vertical-align: middle;
	color: black;
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	/* width: 200px; */
	left: 50px;
	position: relative;
	/* width: 100px; */
}
